
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container {
 display:grid;
 width: 90%;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 grid-gap: 20px;
 }

 .box {
    height: 200px;
    color: #000;
    border: 2px solid black;
    position: relative;
    background-color: teal;
 }

 #box1 {
   
width: 100px;
    border: 2px solid white;
    background-color: antiquewhite;
    margin: 0%;
    float: right;
 }

 #box2 {
   width: 100px;
        border: 2px solid white;
        background-color: rgba(69, 197, 55, 0.66);
        margin: 0%;
        float: right;
     }
    
     #box3 {
   width: 100px;
            border: 2px solid white;
            background-color: rgb(182, 117, 171);
            margin: 0%;
            float: right;
            
         }
        
        h1 {
            position: relative;
            left: 900px;
            bottom: 150px;;
        }

        